/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

html, body {
  padding: 0;
  margin: 0;
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  font-size: 16px;
}


.bg {
  width: 100%;
  height: 100%;  
}

#gorcery-helper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.75);
}

#icon {
  width: 100px;
  height: 100px; 
  background: red;
  position: fixed;
  right: 25px;
  bottom: 25px;
}

.gorcery-helper {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 800px;
  height: 400px;
  margin-left: -400px;
  margin-top: -200px;
  background: #DEDEDE;
  text-align: center;
  border: 1px solid #eee;
  transition: background-color 0.25s ease-out;
    display: flex;
    justify-content: center;
}

.popup {
  opacity: 0;
  transition: opacity 0.2s ease-in;  
}

.popup.open {
  opacity: 1;
}