
.jy {
  .shopping-list-view {
    padding: 20px;

    input {
      border: 1px solid #ccc;
      padding: 10px;
      width: 250px;
      outline: none;
    }

    .shopping-list {
      padding: 0;

      & > li {
        padding: 10px 15px;
        border: 1px solid #eee;
        display: inline-block;
        margin-right: 10px;
      }
    }

    .btn {
      padding: 10px 15px;
      text-align: center;
      border: 1px solid #ccc;
      outline: none;
      font-size: 16px;
      background: #007dc6;
      font-weight: bold;
      color: #fff;
    }
  }
}