.onboarding{
  position: fixed;
  top: 50%;
  left: 50%;
  width: 800px;
  height: 400px;
  margin-left: -400px;
  margin-top: -200px;
  background: #DEDEDE;
  border: 1px solid #eee;
  transition: background-color 0.25s ease-out
}
.onboarding{
    background-color: #F7F7F7;
    border-radius: 5px;
    border: 1px solid #B9B9B9;
    font-family: 'Open Sans Condensed',sans-serif;
    text-align: center;
}

.onboarding .onboarding-questionaire{
    width: 100%;
    height: 100%;
    text-align: center;
    font-size: 31px;
    color: #656565;
    position: absolute;
}

.onboarding .question{
  margin-top: 21px;
  font-family: 'Francois One',sans-serif;
}

.onboarding .visual{
  width: 100%;
  height: 300px;
  margin-top: 32px;
  display: flex;
  justify-content: center;
}

.onboarding .option{
  width: 270px;
  height: 270px;
  display: inline-block;
  cursor: pointer;
}

.onboarding .img{
  height: 191px;
  width: 200px;
  margin: 0 auto;
  padding: 18px;
}

.onboarding .img:hover{
  background-color: rgba(220, 195, 148, 0.5);
}
.onboarding .img .family-image{
  position: relative;
  bottom: 10px;
}
.onboarding .self{
  margin-right: 17px;
}
.jman .question{
  font-family: 'Francois One',sans-serif;
  font-size: 24px;
  color: #676565;
  margin-top: 22px;
}
.jman a{
  color: #1fbad6;
  text-decoration: none;
}

.jman .option{
  width: 300px;
  height: 100%;
}

.jman .option .img{
  margin-top: 17px;
  height: 248px;
  padding-top: 7px;
}

.jman .option .img:hover{
  background-color: rgba(0,125,198,0.5);
}
.jman .msg{
  font-size: 17px;
  margin-top: 13px;
}