.onboarding{
  position: fixed;
  top: 50%;
  left: 50%;
  width: 700px;
  height: 400px;
  margin-left: -350px;
  margin-top: -200px;
  background: #DEDEDE;
  border: 1px solid #eee;
  transition: background-color 0.25s ease-out
}
.onboarding{
    background-color: #F7F7F7;
    border-radius: 5px;
    border: 1px solid #B9B9B9;
    font-family: 'Open Sans Condensed',sans-serif;
    text-align: center;
    overflow: hidden;
}

.onboarding-questionaire .control{
  position: absolute;
  width: 100%;
  top: 178px;
}

.onboarding-questionaire .control .fa{
  color: #AFAEAE;
  cursor: pointer;
  font-size: 36px
}

.onboarding-questionaire .control .fa:hover{
  color: #1d96b1;
}
.onboarding-questionaire .control .fa-angle-left{
  float: left;
  margin-left: 12px;
}

.onboarding-questionaire .control .fa-angle-right{
  float: right;
  margin-right: 12px;
}

.onboarding .onboarding-container{
  height: 100%;
  width: 3500px;
  position: relative;
}
.onboarding .onboarding-questionaire{
    width: 700px;
    height: 100%;
    text-align: center;
    font-size: 31px;
    color: #656565;
    float: left;
    position: relative;
}

.onboarding .question{
  margin-top: 21px;
  font-family: 'Francois One',sans-serif;
}

.onboarding .visual{
  width: 100%;
  height: 300px;
  margin-top: 32px;
  display: flex;
  justify-content: center;
}

.onboarding .option{
  width: 270px;
  height: 270px;
  display: inline-block;
  cursor: pointer;
  z-index: 2;
}

.onboarding .option .msg{
  font-size: 26px;
  margin-top: 13px;
}
.onboarding .img{
  height: 191px;
  width: 200px;
  margin: 0 auto;
  padding: 18px;
  cursor: pointer;
}
.onboarding-questionaire.three .question{
  margin-top: 49px;
}
.onboarding .img:hover{
  background-color: rgba(220, 195, 148, 0.5);
}
.onboarding .img .family-image{
  position: relative;
  bottom: 10px;
}
.onboarding .self{
  margin-right: 17px;
}

.onboarding .male .img, .onboarding .female .img{
  height: 165px;
  width: 200px;
}
.jman .question{
  font-family: 'Francois One',sans-serif;
  font-size: 24px;
  color: #676565;
  margin-top: 22px;
}
.jman a{
  color: #1fbad6;
  text-decoration: none;
}

.jman .option{
  width: 300px;
  height: 100%;
}

.jman .option .img{
  margin-top: 17px;
  height: 222px;
  padding-top: 28px;
  width: 230px;
  margin: 0 auto;
  margin-top: 22px;
  text-align: center;
}

.jman .option .img:hover{
  background-color: rgba(0,125,198,0.5);
}
.jman .msg{
  font-size: 17px;
  margin-top: 13px;
}

.range-slider input[type="range"]{
  width: 482px;
}

.household-size-info{
  width: 482px;
  margin: 0 auto;
  font-size: 20px;
}

.household-size-info .min{
  float: left;
}

.household-size-info .max{
  float: right;
}

.kids-choices span{
  font-size: 24px;
  margin-right: 37px;
}

.skip-section{
  position: absolute;
  right: 8px;
  top: 354px;
}

.skip-section a{
  text-decoration: none;
  font-size: 15px;
  color: #4DB4D6;
}

.skip-section a:hover{
  text-decoration: underline;
  color: #50d1ee;
}

.category.question{
  margin-bottom: 40px;
}

.category.question .hint{
  font-size: 18px;
  color: #EFAC42;
}
.select-categories .row{
  width: 650px;
  height: 97px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  margin-bottom: 23px;
}
.select-categories .option{
  width: 100px;
  height: 100%;
  text-align: center;
  margin-right: 15px;
  cursor: pointer;
  position: relative;
}

.select-categories .option .fa-check{
  position: absolute;
  font-size: 15px;
  color: #19B19E;
  left: 74px;
  top: 4px;
}
.select-categories .option .fa-check{
  display: none;
}
.select-categories .option:hover{
  background-color: rgba(255, 201, 7, 0.3);
}
.select-categories .option .info{
  font-size: 18px;
}
.select-categories img{
  width: 50px;
  height: 50px;
  margin-top: 7px;
  cursor: pointer;
}

.select-categories .option.selected{
  background-color: rgba(255, 200, 0, 0.49);
}
.select-categories .option.selected .fa-check{
  display: block;
}
.select-categories .option.beverage img{
  width: 26px;
}

.select-categories .option.sports img{
  height: 22px;
  margin-top: 20px;
}

.select-categories .option.sports .info{
  margin-top: 12px;
}

.select-categories .select-info{
  font-size: 19px;
}

.select-categories .select-info .count{
  color: #FFB400;
}

.visual.event-shopping .img{
  height: 173px;
  width: 173px;
  padding: 10px;
}

.onboarding-questionaire .submit{
  position: absolute;
  width: 100%;
  text-align: center;
  top: 347px;
}

.onboarding-questionaire .submit button{
  color: #E0AF55;
  background: #ffffff;
  border: 1px solid #E0AF55;
  font-size: 17px;
  padding: 7px 12px;
  display: inline-block;
  text-decoration: none;
  cursor: pointer;
  outline: none;
  min-width: 120px;
}

.onboarding-questionaire .submit button:hover{
  color: #fff;
  background: #E6C17D;
  border: 1px solid #E0AF55;
}

.onboarding-questionaire .progress-section{
  position: absolute;
  left: 8px;
  top: 371px;
  font-size: 18px;
  color: #2FB3DE;
}

.event-shopping .option.selected .img{
  border: 1px solid #00E7FF;
}