$primary-color: #007dc6; // walmart blue
$secondary-color: #ffc120; // walmart yellow
$walmart-orange-color: #f47421; // walmart orange
$text-color: black;
$background-color: white;
$border-color: lightgrey;
$font-size: 15px;
$line-height: 18px;
$border-radius: 4px;
$price-container-width: 100px;
$darken-percent: 10%;

.yj-suggestion-list-container {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 800px;
  height: 600px;
  margin-left: -400px;
  margin-top: -300px;
  padding: 15px 25px;
  background: $background-color;
  border: 1px solid #eee;
  transition: background-color 0.25s ease-out;
  overflow-y: scroll;
}

.yj-suggestion-list-title {
  color: $primary-color;
  text-align: center;  
  margin-bottom: 15px;
}

.yj-suggestion-item-outer-container {
  border-bottom: 1px solid $border-color;
}

.yj-suggestion-item-alternative-container {
  text-align: center;
  overflow: hidden;
  -webkit-transition: height 0.3s;
  transition: height 0.3s;
  height: 232px;
  &.collapsed {
    height: 0;
  }
  &.empty {
    font-size: 18px;
    color: $secondary-color;
    line-height: 50px;
    height: 50px;
  }
}

.yj-suggestion-item-container {
  box-sizing: border-box;
  font-size: $font-size;
  color: $text-color;
  &.thumbnail {
    border-radius: $border-radius;
    border: 1px solid $border-color;
    margin: 10px 4px;
    text-align: center;
    width: 150px;
    height: 210px;
    padding: 5px;
    display: inline-block;
    vertical-align: top;
    &:hover {
      border: 2px solid $border-color;
    }
    &.current {
      border: 2px solid $primary-color;
    }
  }
  &.tile {
    width: 100%;
    height: 100px;
    padding: 20px;
    margin: 0;
  }
}

.yj-suggestion-list-summary-container {
  box-sizing: border-box;
  font-size: $font-size;
  color: $text-color;
  padding: 20px;
}

.yj-suggestion-item-image {
  width: auto;
  height: 50%;
  &.tile {
    height: 100%;
    margin-right: 15px;
  }
}

.yj-suggestion-item-name {
  height: 36px;
  font-weight: bold;
  overflow: hidden;
  text-overflow: ellipsis;
  &.tile {
    margin: 0 20px;
    width: 45%;
    height: 100%;
  }
}

.yj-suggestion-item-price-container {
  width: $price-container-width;
  &.tile {
    text-align: right;
    float: right; 
    height: 80%;
  }
}

$edit-height: 30px;
.yj-suggestion-item-price-total {
  margin-bottom: 0.5em;
}

.yj-suggestion-list-summary-container {
  line-height: $edit-height;
  font-size: 120%;
  color: $primary-color;
  font-weight: bold;
  text-align: right;
  height: 40px;
  padding-top: 0;
  padding-bottom: 0;
}

.yj-suggestion-item-price-each {
  font-size: 80%;
}

.yj-suggestion-item-edit {
  width: 200px;
  height: 80%;
}

input.yj-suggestion-item-edit-count {
  width: 25px;
  height: $edit-height;
  box-sizing: border-box;
  text-align: center;
}

.yj-suggestion-item-edit-button, .yj-suggestion-item-change-button,
.yj-suggestion-list-add-to-cart-button, .yj-suggestion-list-cancel-button,
.yj-view-cart-button, .yj-checkout-button,
.yj-suggestion-item-select-alternative-item-button {
  font-size: 15px;
  color: white;
  height: $edit-height;
  outline: none;
  border: none;
  cursor: pointer;
  margin-left: 10px;
  background-color: $primary-color;
  &:hover {
    background-color: darken($primary-color, $darken-percent);
  }
}

.yj-view-cart-button, .yj-checkout-button {
  width: 150px;
  height: 30px;
  font-size: 18px;
  margin: 0 20px;
}

.yj-suggestion-list-add-to-cart-button, .yj-suggestion-list-cancel-button {
  width: 140px;
  font-size: 17px;
}

.yj-suggestion-list-add-to-cart-button {
  margin-left: 30px;  
}

.yj-suggestion-list-add-to-cart-button, .yj-view-cart-button {
  background-color: $walmart-orange-color;
  &:hover {
    background-color: darken($walmart-orange-color, $darken-percent);
  }
  
}

.yj-suggestion-list-cancel-button {
  background-color: $border-color;
  color: $text-color;
  & a {
    color: $text-color;
    text-decoration: none;
  }
  &:hover {
    background-color: darken($border-color, $darken-percent);
  }
}

.yj-suggestion-item-edit-button {
  width: $edit-height;  
  margin: 0;
}

.yj-suggestion-item-change-button {
  width: 80px;
}

.yj-suggestion-item-name, .yj-suggestion-item-id, 
.yj-suggestion-item-price-container, .yj-suggestion-item-edit {
  &.thumbnail {
    width: 100%;
  }
  &.tile {
    display: inline-block;
    vertical-align: top;
  }
}

.yj-add-to-cart-container {
  width: 100%;
  height: 100%;
  color: $walmart-orange-color;
  font-size: 25px;
  display: table;
  text-align: center;
}

.yj-add-to-cart-positioner {
  display: table-cell;
  vertical-align: middle;
}

.yj-add-to-cart-message, .yj-add-to-cart-button-list {
  position: absolute;
  width: 100%;
  height: 50px;
  text-align: center;
  left: 0;
}

.yj-add-to-cart-message {
  top: 35%;
  -webkit-animation: bounce 2s normal; /* Chrome, Safari, Opera */ 
  animation: bounce 2s normal;
}

.yj-add-to-cart-button-list {
  top: 55%;
}

.yj-hidden {
  display: none;
}

@keyframes bounce {
  0% {
    transform:translateY(-100%);
    opacity: 0;
  }
  30% {
    transform:translateY(0%);
  }
  40% {
    transform:translateY(-10%);
  }
  60% {
    transform:translateY(-5%);
  }
  90% {
    transform:translateY(0%);
  }
  100% {
    transform:translateY(0);
    opacity: 1;
  }
}

