<!DOCTYPE html>
<html>
  <head>
    <title>Hackathon</title>
    <%= csrf_meta_tags %>
    <%= action_cable_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => 'reload' %>
  </head>

  <body>
    <div id='react-view'></div>
    <%= javascript_include_tag "/assets/hackathon-bundle" %>
  </body>
</html>
